$font-mont: 'Montserrat', sans-serif
$font-froaunces: 'Fraunces', serif

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-color: hsl(30, 38%, 92%)

.card
    margin-top: 1rem
    width: 90%
    background-color: hsl(0, 0%, 100%)
    border-radius: 1rem
    overflow: hidden
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
    &__info
        padding: 1rem
        display: flex
        flex-direction: column
        justify-content: center

.product
    &__img
        height: 100%
        width: 100%
    &__type
        padding-top: 8px
        font-family: $font-mont
        font-size: 14px
        font-weight: 500
        letter-spacing: 6px
        color: hsl(228, 12%, 48%)
    &__name
        padding-top: 8px
        font-family: $font-froaunces
        font-size: 32px
        color: hsl(212, 21%, 14%)
    &__description
        padding-top: 8px
        font-family: $font-mont
        font-size: 14px
        font-weight: 500
        color: hsl(228, 12%, 48%)
        line-height: 24px
    &__price
        padding-top: 16px
        display: flex
        flex-direction: row
        align-items: center
        &--new
            font-family: $font-froaunces
            font-size: 32px
            color: hsl(158, 36%, 37%)
            margin-right: 15px
        &--old
            font-family: $font-mont
            font-size: 14px
            font-weight: 500
            color: hsl(228, 12%, 48%)
            text-decoration: line-through
    &__btn
        width: 100%
        margin-top: 1rem
        padding-top: 8px
        background-color: hsl(158, 36%, 37%)
        color: white
        font-family: $font-mont
        font-size: 14px
        padding: 1rem
        border-radius: 8px
        border: none
        &:hover
            cursor: pointer
            background-color: hsl(212, 21%, 14%)

.desktop
    display: none
.mobile
    display: block

@media screen and (min-width: 1440px) 
    .card
        display: grid
        grid-template-columns: repeat(2, 50%)
        max-width: 700px
    .desktop
        display: block
    .mobile
        display: none